<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923613748771-3n393k23mt9j890m6dsabo1sgfoq1fio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923613748771-3n393k23mt9j890m6dsabo1sgfoq1fio</string>
	<key>API_KEY</key>
	<string>AIzaSyBlaQLP0RT2vISbUV8meBvHvto3cZc0sqM</string>
	<key>GCM_SENDER_ID</key>
	<string>923613748771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>art.minasehiro.dreamPonyKentei</string>
	<key>PROJECT_ID</key>
	<string>dream-pony-kentei</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-pony-kentei.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923613748771:ios:88da3cf99088c724331b96</string>
</dict>
</plist>